body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

form h1 {
    text-align: center;
}

.form-control {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #06167d;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
.Ico {

    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    margin-top: 10px;
}